@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
body, html
    display flex
    flex 1 0 auto
    width 100%
    height 100%
    max-height 100%
    min-height 100%
    margin 0
    padding 0
    overflow hidden

.md-m-a-0
    margin 0 !important

.md-m-t-0
    margin-top 0 !important

.md-m-r-0
    margin-right 0 !important

.md-m-b-0
    margin-bottom 0 !important

.md-m-l-0
    margin-left 0 !important

.md-m-x-0
    margin-right 0 !important
    margin-left 0 !important

.md-m-y-0
    margin-top 0 !important
    margin-bottom 0 !important

.md-p-a-0
    padding 0 !important

.md-p-t-0
    padding-top 0 !important

.md-p-r-0
    padding-right 0 !important

.md-p-b-0
    padding-bottom 0 !important

.md-p-l-0
    padding-left 0 !important

.md-p-x-0
    padding-right 0 !important
    padding-left 0 !important

.md-p-y-0
    padding-top 0 !important
    padding-bottom 0 !important

.md-m-a-1
    margin 8px !important

.md-m-t-1
    margin-top 8px !important

.md-m-r-1
    margin-right 8px !important

.md-m-b-1
    margin-bottom 8px !important

.md-m-l-1
    margin-left 8px !important

.md-m-x-1
    margin-right 8px !important
    margin-left 8px !important

.md-m-y-1
    margin-top 8px !important
    margin-bottom 8px !important

.md-p-a-1
    padding 8px !important

.md-p-t-1
    padding-top 8px !important

.md-p-r-1
    padding-right 8px !important

.md-p-b-1
    padding-bottom 8px !important

.md-p-l-1
    padding-left 8px !important

.md-p-x-1
    padding-right 8px !important
    padding-left 8px !important

.md-p-y-1
    padding-top 8px !important
    padding-bottom 8px !important

.md-m-a-2
    margin 16px !important

.md-m-t-2
    margin-top 16px !important

.md-m-r-2
    margin-right 16px !important

.md-m-b-2
    margin-bottom 16px !important

.md-m-l-2
    margin-left 16px !important

.md-m-x-2
    margin-right 16px !important
    margin-left 16px !important

.md-m-y-2
    margin-top 16px !important
    margin-bottom 16px !important

.md-p-a-2
    padding 16px !important

.md-p-t-2
    padding-top 16px !important

.md-p-r-2
    padding-right 16px !important

.md-p-b-2
    padding-bottom 16px !important

.md-p-l-2
    padding-left 16px !important

.md-p-x-2
    padding-right 16px !important
    padding-left 16px !important

.md-p-y-2
    padding-top 16px !important
    padding-bottom 16px !important

.md-m-a-3
    margin 24px !important

.md-m-t-3
    margin-top 24px !important

.md-m-r-3
    margin-right 24px !important

.md-m-b-3
    margin-bottom 24px !important

.md-m-l-3
    margin-left 24px !important

.md-m-x-3
    margin-right 24px !important
    margin-left 24px !important

.md-m-y-3
    margin-top 24px !important
    margin-bottom 24px !important

.md-p-a-3
    padding 24px !important

.md-p-t-3
    padding-top 24px !important

.md-p-r-3
    padding-right 24px !important

.md-p-b-3
    padding-bottom 24px !important

.md-p-l-3
    padding-left 24px !important

.md-p-x-3
    padding-right 24px !important
    padding-left 24px !important

.md-p-y-3
    padding-top 24px !important
    padding-bottom 24px !important

.md-m-a-4
    margin 32px !important

.md-m-t-4
    margin-top 32px !important

.md-m-r-4
    margin-right 32px !important

.md-m-b-4
    margin-bottom 32px !important

.md-m-l-4
    margin-left 32px !important

.md-m-x-4
    margin-right 32px !important
    margin-left 32px !important

.md-m-y-4
    margin-top 32px !important
    margin-bottom 32px !important

.md-p-a-4
    padding 32px !important

.md-p-t-4
    padding-top 32px !important

.md-p-r-4
    padding-right 32px !important

.md-p-b-4
    padding-bottom 32px !important

.md-p-l-4
    padding-left 32px !important

.md-p-x-4
    padding-right 32px !important
    padding-left 32px !important

.md-p-y-4
    padding-top 32px !important
    padding-bottom 32px !important

.md-m-a-5
    margin 40px !important

.md-m-t-5
    margin-top 40px !important

.md-m-r-5
    margin-right 40px !important

.md-m-b-5
    margin-bottom 40px !important

.md-m-l-5
    margin-left 40px !important

.md-m-x-5
    margin-right 40px !important
    margin-left 40px !important

.md-m-y-5
    margin-top 40px !important
    margin-bottom 40px !important

.md-p-a-5
    padding 40px !important

.md-p-t-5
    padding-top 40px !important

.md-p-r-5
    padding-right 40px !important

.md-p-b-5
    padding-bottom 40px !important

.md-p-l-5
    padding-left 40px !important

.md-p-x-5
    padding-right 40px !important
    padding-left 40px !important

.md-p-y-5
    padding-top 40px !important
    padding-bottom 40px !important

.md-float-left
    float left !important

.md-float-right
    float right !important

.md-center
    display block !important
    margin-right auto !important
    margin-left auto !important

.md-valign
    display -webkit-box !important
    display -webkit-flex !important
    display -ms-flexbox !important
    display flex !important
    -webkit-box-align center !important
    -webkit-align-items center !important
    -ms-flex-align center !important
    align-items center !important

.md-text-left
    text-align left !important

.md-text-center
    text-align center !important

.md-text-right
    text-align right !important

.md-text-lowercase
    text-transform lowercase !important

.md-text-uppercase
    text-transform uppercase !important

.md-text-capitalize
    text-transform capitalize !important

.md-text-truncate
    overflow hidden
    text-overflow ellipsis
    white-space nowrap

.full-width
    width 100%