// Text Colors
$body-text-color = $dark-black;

// Borders Colors
$border-color = $grey-300;

// Base margin
$spacing-base = 8px;

// Breakpoint
$screen-sm-min = 600px;
$screen-md-min = 1024px;
